h1, h2, h3 {
    font-family: "Roboto Light", sans-serif;
}

body {
    margin: 0 10px;
}

/* Homepage */
dd {
    color: #484848;
}

em {
    font-size: .9rem;
}

h3 {
    text-decoration: underline;
}

.infos {
    background-color: teal;
    border-radius: 10px;
    color: white;
    padding: 1rem;
}

.svg-container {
    display: flex;
}

.svg-container svg {
    fill: white;
    transform: translateY(50%);
    padding-right: 1rem;
}

/* Page tableaux destinations */
table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: teal;
    color: white;
}

.table-title {
    background-color: revert;
    color: teal;
    text-align: center;
    border: none;
}

.table-title:hover {
    background-color: white;
}

/* Début media queries tableau */
/* Mode mobile */
@media (max-width: 750px) {
    /* On change l'orientation du tableau */
    table td  {
        display: flex;
        justify-content: center;
    }
    /* On inverse les couleurs du titre du tableau */
    .table-title, .table-title:hover {
        background-color: teal;
        color: white;
    }
    td, tr, th, thead, tbody {
        width: 90vw;
    }
}

/* Mode tablette */
@media  (min-width: 750px) and (max-width: 1024px) {
    table tr {
        display: inline flow-root;
    }
    table td  {
        display: grid;
    }
}

/* Mobile + tablette */
@media  (max-width: 1024px) {
    .table-title, .table-title:hover {
        border-bottom: 2px solid teal;
    }
    /* On masque la partie haute du tableau indiquant les colonnes */
    tbody:not(#tableau-destinations) {
        display: none;
    }
    .td-pays {
        font-weight: bold;
    }
}
/* Fin media queries tableau */

.supprimer, .modifier, .formSubmit, .decouvrir {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    opacity: .7;
    cursor: pointer;
    margin: .3rem;
}

.supprimer {
    background-color: #d20000;
}

.modifier {
    background-color: #2c69f6;
}

.decouvrir {
    background-color: teal;
}

.formSubmit {
    background-color: forestgreen;
}

.supprimer:hover, .modifier:hover, .formSubmit:hover, .decouvrir:hover {
    opacity: 1;
}

/* Menu navigation */

/* Début Media queries menu navigation */
h1 {
    padding-top: 12rem;
}

@media (min-width: 329px) {
    h1 {
        padding-top: 9rem;
    }
}

@media (min-width: 493px) {
    h1 {
        padding-top: 6rem;
    }
}

@media (min-width: 839px) {
    h1 {
        padding-top: 3rem;
    }
}
/* Fin Media queries menu navigation */

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    z-index: 10;
}

nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: .2s;
}

nav .active {
    background-color: teal;
}

nav a:hover {
    background-color: black;
}

/* Menu déroulant */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Page contact */
input, textarea {
    display: block;
    margin-bottom: .5rem;
}

form {
    display: flex;
    justify-content: center;
}

.send-btn {
    width: 100%;
    margin-top: 1rem;
    background-color: teal;
    border: 1px solid grey;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
}

/* footer */

.page-container {
    min-height: calc(100vh - 100px);
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    padding-bottom: 1rem;
}

/* Fomulaire login */

.login-form {
    display: block;
}

.erreur-login, .succes-login {
    padding: 1rem;
    max-width: 320px;
    border-radius: 5px;
}
.erreur-login {
    background-color: #fd8989;
}
.succes-login {
    background-color: #8df38d;
}